@import "tailwindcss";
 
@layer base {

  body {
    @apply bg-black text-white relative font-sans h-screen overflow-x-hidden 
  }
} 
*{
  scroll-behavior: smooth;
}
.bg-primary{
  background-color: #ff4d00;
}
.text-color{
  color: #f54900;
}